---
title: Портфолио
layout: page
bigimg: /assets/img/bg.jpg
---

<div id="Blog" class="uk-section uk-padding-remove-top">

  <article class="uk-article uk-padding-xsmall">
    <h2 class="uk-heading-line"><span>Мои работы</span></h2>
    {% for project in projects %}
    <div>
      <h4><a class="uk-link-text"href="{{ project.url | relative_url }}">{{ project.title }}</a></h4>

      <p class="uk-article-meta">
        <span uk-icon="calendar"></span> <span class="date">{{project.date | date: "%b %d, %Y "}} </span>
        <span uk-icon="tag"></span>

        {% for tag in project.tags %}
        <a href="/archive/index.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
        {% include reading-time-blog.html %}

      </p>

        <div class="content">
          {{ project.excerpt | strip_html }}
          <br><a href="{{ project.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a><br>
          {% unless forloop.last %}
          <hr>
          {% endunless %}
        </div>
      </div>
      {% endfor %}
    </article>
</div>


<div class="uk-section">
<div class="uk-container">
  <h2>Media</h2>
<div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-child-width-1-2@m" uk-grid>
            <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>
            <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Bottom</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
                <div class="uk-card-media-bottom">
                    <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                </div>
            </div>
        </div>
        </div>
    </div>
  
 <div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://getuikit.com/docs/images/light.jpg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Left</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="https://getuikit.com/docs/images/light.jpg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Right</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
  </div>
