.intro-text {
  text-shadow: 1px 1px 2px black;
}
blockquote {
  border-left: 5px solid #ccc;
  background: #f9f9f9;
  border-radius: 0px 4px 4px 0px;
  padding: 5px 10px;
}
.button, input[type=submit] {
  -webkit-appearance: none;
}

.uk-card {
  border-radius: 3px;
  transition: transform .1s;
}

.uk-button.uk-button-primary {
  border-radius: 3px;
}

.uk-card.uk-card-hover:active {
  transform: translateY(1px);
}
.tm-toolbar-container:not(.uk-navbar-transparent) {
    background: #222;
}
.uk-light, .uk-light .uk-link-muted a:hover, .uk-light .uk-table th, .uk-light a.uk-link-muted:hover, .uk-light blockquote footer {
    color: rgba(255,255,255,.7);
}
.uk-navbar-container { 
  height: 60px; 
}
