---
layout: default
---

<body>
  <div class="uk-container-expand">

    <div class="uk-section-default">
      <div class="uk-section-large uk-light uk-background-fixed uk-background-cover uk-background-center uk-blend-darken" style="background-image: url({{ "/assets/img/bg_banner.jpg" | relative_url }}); background-color: grey; background-blend-mode: multiply; ">
        <div class="intro-text uk-container">
          <h2 class="uk-heading-primary">Веб-дизайнер Михеев Сергей</h2>
          <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
            <div>
              <h3 class="uk-h4">Занимаюсь разработкой сайтов с 2016 года. <br> Буду рад интересным проектам и задачам.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="Features" class="uk-section uk-section-muted">
      <div class="uk-container">

         <div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match">
        <div class="uk-card uk-card-default uk-card-body">
            <div uk-lightbox>
                <a href="/assets/i.jpg" title="Михеев Сергей" alt="Михеев сергей">
  <img src="/assets/i.jpg" alt=""></a>
            </div>
        </div>
     </div>
    <div>
        <h3>Обо мне</h3>
        <p>
            Привет Мир! Меня зовут Сергей. Я веб-дизайнер, занимаюсь разработкой сайтов разной специализации и разного уровня сложности, а также, графическим дизайном. Территориально нахожусь в Новосибирске. В мои услуги входит: создание сайтов, разработка недорогих сайтов (сайт-визитка),доработка сайта, внутренняя оптимизация сайта, продвижение сайта, создание индивидуального дизайна, техническая поддержка, а также графический дизайн.
        </p>
        <p>
            Ни для кого не секрет, что в условиях современной действительности интернет стал колыбелью информации, рекламы, а также крупнейшей площадкой для продаж во всём мире. В данном контексте, очень выразительно звучит фраза Билла Гейтса –</p>

<blockquote><span uk-icon="quote-right"></span> Если Вашего бизнеса нет в Интернете, то Вас нет в бизнесе!</blockquote>
<p>
Если вам нужно создать сайт недорого, компаний, которые этим занимаются, сейчас достаточно. Но, стоит знать, что у больших и раскрученных организаций и цены большие. Я веб-дизайнер. Для вас в заданный срок я смогу создать сайт любой тематики и того уровня сложности, который именно вам нужен, а также, вы можете заказать у меня разработку дизайна для вашего бизнеса.
        </p>
    </div>
</div>
<div>
    <br>
</div>

      </div>
    </div>

    <div class="uk-container uk-padding">

  <h1 class="uk-text-center">Услуги</h1>
  <div class="uk-grid-match uk-child-width-expand@s" uk-grid>
      <div class="uk-card uk-card-body uk-card-hover uk-card-default uk-flex uk-flex-column">
        <div class="uk-card-title">Разработка сайтов</div>
        <p>
         Свой веб-сайт единственный надежный способ найти клиентов в интернете и получать больше прибыли.
        </p>
        <div class="uk-margin-auto-top">
          <button class="uk-button uk-button-primary">Подробнее...</button>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-card-hover uk-card-default uk-flex uk-flex-column">
        <div class="uk-card-title">Сопровождение сайтов</div>
        <p>
          Я предлагаю большой комплекс услуг по сопровождению сайта — все виды технических работ
        </p>
        <div class="uk-margin-auto-top">
          <button class="uk-button uk-button-primary">Подробнее...</button>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-card-hover uk-card-default uk-flex uk-flex-column">
        <div class="uk-card-title">Продвижение сайтов</div>
        <p>
          Внутренняя и внешняя оптимизация. SEO оптимизация контента. Анализ эффективности работы.
        </p>
        <div class="uk-margin-auto-top">
          <button class="uk-button uk-button-primary">Подробнее...</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
    
    <div id="Connect" class="uk-section uk-section-secondary">
      <div class="uk-container">
        <h2 class="uk-heading-line"><span>Connect</span></h2>
        <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
          <div>
            <p>
              Jekyll-UiKit is a labor of <span uk-icon="icon: heart"></span> and coffee.
              <br><br>
              Speaking of coffee, if you like this theme, and are feeling like a super awesome person, you can <a href="https://www.buymeacoffee.com/jpasholk">buy me a coffee</a>!
              <br><br>
              I built it in my free time on weekends and early mornings before my day job. Please feel free to use it under the MIT licence however you'd like. Let me know if you have any questions about it, I'll do my best to help.
              <br><br>
              I enjoy talking about UI/ UX design, content and branding stratgegy, and creative direction.
              <br><br>
              Feel free to reach out on <a href="https://twitter.com/{{site.twitter}}">Twitter</a>. ;P
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
