---
layout: page
---

<div class="uk-container uk-padding-large">
        <h2 class="uk-heading-primary">{{project.title}}</h2>
  
         <div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match">
        <div class="uk-card uk-card-default uk-card-body">
                {% assign image_path = '/assets/portfolio/' | append: project.image %}
                          <img src="{{ image_path | relative_url }}" />
        </div>
     </div>
    <div>
        <p>
  {{content}}
        </p>
    </div>
</div>
</div>
